# Config file dengan Discord token (JANGAN COMMIT!)
ocr_config.json

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.env
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#OTHER
build/
dist*/
tesseract
*.spec